@charset "UTF-8"; /* 文字コードの指定 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');

body {
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 1.171303074670571vw;
    color: #000000;
    }
    
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h2 {
  font-size: 3.513909224011713vw;
  font-weight: bold;
  color: #0097a7;
  text-align: center;
}

section {
  padding: 4.3597364568082vw 7.320644216691069vw;
}
    
.serif {
  font-family: Noto Serif JP;
}

span.blue {
  padding-right: 0.7vw;
  background: linear-gradient(transparent 20%, #b5e9ee 0%);
}

 /*ヘッダー*/
header {
  background: rgba(255,255,255,0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

.animate__animated {
  opacity: 0;
}
.animate__animated.is-fadein {
  opacity: 1
}

#header-inner {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 5.587276720351391vw;
}

#hamburger-button {
  display: none;
}

#hamburger-navi-menu {
  margin: 10px;
  display: none;
}

#navi-menu {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin-left: 2.049780380673499vw;
}

#title img {
  width: 31.4787701317716vw;
  margin-left:5.6vw;
}

.navButton {
  margin-left: 1.976573938506589vw;
  height: 3.294289897510981vw;
  width: 8.784773060029283vw;
  padding: 0.7320644216691069vw 0;
  text-align: center;
  background-color: #ffffff;
  border: solid 1px #000000;
}

.navcontact {
  margin-left: 1.976573938506589vw;
  height: 3.294289897510981vw;
  width: 15.37335285505124vw;
  padding: 0.7320644216691069vw 0;
  text-align: center;
  font-weight: bold;
  background-color: #0097a7;
  color: #fefefe;
  border-radius: 1.15vw;
}

.navcontact span {
  margin: 0;
}

/*メインコンテンツ*/

/*カバー*/

#main {
position:relative;
}

.main-cover img {
  width: 100vw;
}

.sub_title {
  position: absolute;
  margin-top: -15.04465592972182vw;
  margin-left: 7.759882869692533vw;
  font-size: 2.635431918008785vw;
  line-height: 1.65em;
}

/*スライダーのドッド非表示*/
.slick-dots li button:before{
	content: ''!important;
	height:100%!important;
　width: 100%!important;
}

/*アピール*/
#appeal {
  display: flex;
  margin: 3.72386530014641vw 7.91303074670571vw 3.823147877013177vw 7.01303074670571vw;
  padding: 0;
  text-align: center;
}
.appeal_wrapper {
  display: flex;
}

.appeal_contens {
  padding: 0 4.785212298682284vw;
}

.border {
  position:relative;
  display:inline-block;
}

.border::after {
  content: "";
  display: inline-block;
  width: 0.1464128843338214vw;/*太さ*/
  height: 15.61259150805271vw;/*長さ*/
  background-color: #606060;
  position: absolute;
  top: 0.8784773060029283vw;/*上からの距離*/
  right: 5px;
}

.appeal_circle {
  width: 11.56661786237189vw;
  height: 11.56661786237189vw;
  border: solid 5px #0097a7;
  border-radius: 50vw;
  color: #0097a7;
}

.appeal_title {
  font-size: 1.756954612005857vw;
  font-weight: bold;
  margin-top: 2.489019033674963vw;
}

.appeal_no {
  font-size: 3.513909224011713vw;
  margin-top: -0.7vw;
}

.appeal_text {
  font-size: 1.756954612005857vw;
  padding: 0;
  margin-top: 0.8784773060029283vw;
  text-align: center;
  line-height: 1.7em;
}

.appeal_text1 {
  margin-left: -0.8vw;
}

  
/*コンタクト*/
.toContact {
  background-color: #b5e9ee;
}

.toContact_title{
  margin-top: -1vw;
  margin-left: 0.5vw;
  margin-bottom: 3.092386530014641vw;
  letter-spacing: -0.01em;
}

.toContact_contents {
  margin-left: 27.60073206442167vw;
  margin-bottom: 1.464128843338214vw;
  font-size: 1.753294289897511vw;
}

.fa-square {
  box-shadow: inset 3px 3px 1px rgba(117, 148, 151, .5),
  2px 2px 1px rgba(117, 148, 151, .5);
  margin-right: 1.464128843338214vw;
}

.contact_button {
  height: 5.417276720351391vw;
  width: 40.26354319180088vw;
  text-align: center;
  border: solid 1pt #0097a7;
  border-radius: 1vw;
  background-color: #0097a7;
  color: #fefefe;
  font-size: 2.342606149341142vw;
  font-weight: bold;
  padding: 0.624128843338214vw 6vw;
  margin: 4.092386530014641vw 0 0 21.82269399707174vw;
  box-shadow: 7px 7px #87abae;
}

.fa-chevron-right {
  margin-left: 2vw;
}

/*ポイント*/
.points_title {
  margin-top: -1.2vw;
}

.point_no {
  font-size: 3.513909224011713vw;
  color: #606060;
  text-align: center;
  margin-top: 1.953147877013177vw;
}

.point_title {
  font-size: 2.635431918008785vw;
  color: #606060;
  text-align: center;
  margin-top: 0.328257686676428vw;
  margin-bottom: 2.828257686676428vw;
}

.point_subtitle {
  height: 3.806734992679356vw;
  width: 69.15329428989751vw;
  text-align: center;
  border: solid 1pt #0097a7;
  border-radius: 1vw 1vw 0 0;
  background-color: #0097a7;
  color: #fefefe;
  font-size: 2.342606149341142vw;
  margin-left: 7.674231332357247vw;
}
/*ポイント01*/

.table_point1 {
  margin-left: 7.674231332357247vw;
  width: 69.15329428989751vw;
  height:18.87672035139092vw;
  border-radius: 0 0 2vw 2vw;
}

.table_point1 td {
  border: none;
  border-top: solid 0.7320644216691069vw #ffffff;
  border-collapse: separate;
  border-bottom: solid 0.7320644216691069vw #ffffff;
  border-right: solid 0.7320644216691069vw #ffffff;
}

.table_point1 td:last-child {
  border-right: none;
}

.th {
  width: 2.05856515373353vw;
  background-color: #dddddd;
  font-size: 1.756954612005857vw;
  text-align: center;
}

.td {
  text-align: left;
  background-color: #eeeeee;
  font-size: 1.171303074670571vw;
  padding-left: 2.196193265007321vw;
  border-left: solid 0.7320644216691069vw #ffffff;
  line-height: 1.65em;
}

.bottom_left {
  border-radius: 0 0 0 1.5vw;
}

.bottom_right {
  border-radius: 0 0 1.5vw 0;
}

/*ポイント02*/
.price{
  display: flex;
  margin-left: 7.8vw;
  justify-content: space-between;
}

.tax {
  font-size: 1.759150805270864vw;
  font-weight: normal;
}

.price_title {
  width: 26.50073206442167vw;
  height: 4.538799414348463vw;
  font-size: 2.63909224011713vw;
  font-weight: bold;
  background-color: #0097a7;
  text-align: center;
  color: #ffffff;
}

.price_contents {
  margin-top: 2.196193265007321vw;
  font-size: 5.563689604685212vw;
  color: #0097a7;
  font-weight: bold;
}

.price2 {
  margin-right: 7vw;
}

.price2 .price_contents {
  margin-left: -1.96193265007321vw;
}

.price_detail {
  font-size: 1.171303074670571vw;
  text-align: center;
  margin-top: 0.8784773060029283vw;
}

/*ポイント03*/
.point3_contents {
  display: flex;
  margin-left: 5.174231332357247vw;
}

.point3 .point_no {
  margin-top: 1.899560761346999vw;
}

.point_img {
  margin-left: 2.196193265007321vw;
}

.point_img img {
  width:33.67496339677892vw;
}

.caption {
  font-size: 1.178623718887262vw;
  color: #000000;
  margin-left: 4.496193265007321vw;
  line-height: 1.8em;
}

/*ポイント04*/

.point4 .point_no {
  margin-top: 3.499560761346999vw;
}

.point4 .point_title {
  margin-bottom: 2.428257686676428vw;
}

.map {
  width: 82.89458272327965vw;
  height: 35.13909224011713vw;
  margin-left: 2vw;
}

.map_caption,.address {
  text-align: center;
}

.address {
  font-size: 1.756954612005857vw;
  margin: 1.796193265007321vw 0 1.896193265007321vw 3vw;
}

table {
border-collapse: collapse;
width: 69.54612005856515vw;
font-size: 1.756954612005857vw;
margin-left: 7.320644216691069vw;
}

td {
  border-bottom:1px solid #000000;
  text-align: center;
  width:4.978038067349927vw;
  margin-right: 2.196193265007321vw;
 }

.timetable-title {
  background-color: #0097a7;
}

.timetable-title td {
  border-bottom: none;
  color: #ffffff;
}

.am-pm {
  text-align: center;
  padding: 0.8856515373352855vw 0;
}

td.end {
  padding-right: 0vw;
}

/*FAQ*/

section#faq {
  margin-bottom: -2vw
}

.faq-wrapper {
  text-align: center;
  color: #5f5d60;
}

#faq-list {
  width: 69.54612005856515vw;
  margin-left: 7.64128843338214vw;
  list-style: none;
}

.faq-list-item {
  position:relative;
  cursor:pointer;
  text-align: left;
  margin-bottom: 1.8vw;
}

div.Q_wrapper {
  margin-top: 0.74vw;
  padding-bottom: 1.117715959004392vw;
}

div.A_wrapper {
  margin: 0;
}

.A_wrapper {
  border-top: solid 1px #0097a7;
  padding-top: 0.9vw;
}

.faq-list-item span {
  position:absolute;
  top:0;
  width: 2.489019033674963vw;
  height: 2.489019033674963vw;
  background-color: #0097a7;
  right: 1.6vw;
  color: #ffffff;
  font-size: 1.464128843338214vw;
  text-align: center;
}

.Q_wrapper,.A_wrapper {
  display: flex;
  color: #0097a7;
  font-size: 1.3199121522694vw;
}

.Q {
  font-size: 1.759882869692533vw;
  margin-right: 2.728257686676428vw;
}

.question {
  padding-top: 0.2vw;
}

.A_wrapper .A {
  font-size: 1.759882869692533vw;
  margin-right: 2.728257686676428vw;
}

.answer,.A {
  display: none;
}

.answer {
  color: #000000;
  line-height: 1.8em;
}


/*フッター*/
#footer {
  padding-top: 4.24597364568082vw;
  padding-left: 32.94289897510981vw;
}

.footer_logo img {
  width: 33.67496339677892vw;
}

.copyright {
  font-size: 0.8784773060029283vw;
  margin-left: 4.928257686676428vw;
}



@media screen and (min-width: 767px) { /*375px*/
.sp_button,.br_sp,.sp_img {
  display: none;
}
}

/* メディアクエリ（モバイルの場合の指定） */
@media screen and (max-width: 768px) { /*375px*/
.br_lp,.pc_img {
  display: none;
}

.br_sp,.sp_button,.sp_img {
  display: block;
}

body {
  width: 100vw;
}

  
/*ヘッダー*/

header {
  width: 100vw;
  position: relative;
}

section {
  padding: 14.5vw 4vw;
}

h2 {
  font-size: 9.166666666666667vw;
}

#header-inner {
  padding: 8.8vw 0 7.6vw 0;
}

#title img {
  width: 67.73333333333333vw;
  padding-top: 20vw;
  margin-left: 4vw;
  padding-bottom: 20vw;
}

li#hamburger-navi-menu{
  line-height: 2.2em;
}

#hamburger-button {
  display: block;
  position: absolute;
  right: 4vw;
  font-size: 12.8vw;
  color: #606060;
}

#hamburger-menu {
  width: 100vw;
  position: absolute;
  padding-left: 2.666666666666667vw;
  font-size: 4.266666666666667vw;
  background-color: #ffffff;
}

#navi{
  display: none;
}

#main {
  position: relative;
}
/*カバー*/
.main-cover {
  background-color: #ffffff;
}

.main-cover img {
  width: 100%;
  opacity: 0.7;
}

.sub_title {
  position: absolute;
  margin: -7.6vw 0 6.666666666666667vw 4vw;
  font-size: 7.733333333333333vw;
  line-height: 1.8em;
  text-align: center;
}

.sp_button {
  position: absolute;
  width: 56.53333333333333vw;
  height: 11.66666666666667vw;
  font-size: 4.8vw;
  margin-top: 26vw;
  margin-left: 21.66666666666667vw;
  margin-bottom: 14.4vw;
  box-shadow: none;
  border-radius: 3.6vw;
  padding: 1.8vw 0 0 0;
}

/*アピール*/

section#appeal {
  margin-bottom: 7vw;
}
#appeal {
  position: relative;
  display: block;
  padding-top: 48vw;
}

.border::after{
  display: none;
}

.appeal_wrapper {
  margin-top: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 8vw;
  border-bottom: solid 0.2vw #606060;
}

.appeal_wrapper:last-child {
  border-bottom:none;
}

.appeal_contens {
  text-align: center;
  margin: 5vw 0 0 0;
}

.appeal_circle {
  width: 42vw;
  height: 42vw;
  border: solid 3px #0097a7;
}

.appeal_title {
  font-size: 6.392vw;
  margin-top: 9vw;
}

.appeal_no {
  font-size: 12.78666666666667vw;
  margin-top: -3vw;
}

.appeal_text {
  font-size: 5.336vw;
  width: 38.66666666666667vw;
  margin-top: 4.266666666666667vw;
  line-height: 2em;
}

/*コンタクト*/
.toContact {
  padding-bottom: 36vw;
}

.toContact_title {
  margin-top: -3vw;
  margin-bottom: 12.93333333333333vw;
  line-height: 1.3em;
}

.fa-square {
  margin-right: 6vw;
}

.toContact_contents {
  font-size: 4.810666666666667vw;
  margin-left: 6.666666666666667vw;
  margin-bottom: 6vw;
}

.toContact_sp {
  position: absolute;
  width: 90vw;
  height: 12vw;
  font-size: 5.28vw;
  margin: 11vw 0 0 0;
  padding-top: 1.5vw;
  border-radius: 4vw;
}

/*ポイント01*/
.point_no {
  font-size: 12.75733333333333vw;
  margin-top: 10vw;
  margin-bottom: 2vw;
}

.point_title {
  font-size: 8.533333333333333vw;
  margin-bottom: 9vw;
  line-height: 1.3em;
}

.point_subtitle {
  margin: 0;
  padding-top: 2.5vw;
  width: 92.26666666666667vw;
  height: 13.33333333333333vw;
  font-size: 4.8vw;
  border-radius: 4vw 4vw 0 0;
}

.table_point1 {
  width: 92.26666666666667vw;
  margin: 0 0 10.66666666666667vw 0;
}

.table_point1 td {
  border-top: solid 3.2vw #ffffff;
  border-bottom: solid 3.2vw #ffffff;
  border-right: solid 3.2vw #ffffff;
}

.bottom_left {
  border-radius: 0 0 0 7vw;
}

.bottom_right {
  border-radius: 0 0 7vw 0;
}

.th {
  width: 26.66666666666667vw;
  font-size: 3.2vw;
}

.td {
  width: 62.93333333333333vw;
  margin-left: 3vw;
  padding: 3vw 0 3vw 8vw;
  font-size: 3.2vw;
  line-height: 1.7em;
}


/*ポイント02*/
.point2 {
  margin-bottom: 13vw;
}

.point2 .point_no {
  margin-top: -3vw;
}

.price {
  display: block;
  margin: 0;
}

.price1,.price2 {
  margin: 0;
  text-align: center;
}

.price_title {
  width: 92.26666666666667vw;
  height: 16vw;
  font-size: 9.613333333333333vw;
  margin-top: 16vw;
}

.price_contents {
  width: 92.26666666666667vw;
  font-size: 16vw;
  margin-top: 11vw;
}

.tax {
  font-size: 6.408vw;
}

.price_detail {
  font-size: 16vw;
  font-size: 3.2vw;
}

/*ポイント03*/

.point3_contents {
  display: block;
  margin: 0;
}

.point_img {
  margin: 0;
}

.point_img img {
  width: 92.26666666666667vw;
}

.caption {
  margin: 2vw 0 7vw 0;
  padding-left: 5.333333333333333vw;
  font-size: 3.213333333333333vw;
}

/*ポイント04*/
.point4 {
  padding-top: 0.1vw;
}

.map {
  height: 66.66666666666667vw;
  width: 92.26666666666667vw;
  margin-top: 12.2vw;
}

.map_caption {
  font-size: 3.2vw;
  margin-top: 4vw;
  line-height: 1.8em;
}

.address {
  font-size: 4.8vw;
  margin-top: 5vw;
  margin-bottom: 8vw;
  
}

table {
  width: 92.26666666666667vw;
  margin: 0;
  font-size: 3.2vw;
}

/*FAQ*/
section#faq {
padding-bottom: 6vw;  
}

.faq-list-item {
  width: 92.26666666666667vw;
  margin-left: -7vw;
  margin-bottom: 10vw;
}

.faq-title {
  margin-top: -3vw;
  margin-bottom: 5vw;
  font-size: 12.79466666666667vw;
}

.Q {
  font-size: 6.397333333333333vw;
}

.A_wrapper {
  padding-top: 3vw;
}

.A_wrapper .A {
  font-size: 6.397333333333333vw;
  margin-top: 1vw;
}

.question,.answer {
  font-size: 4.266666666666667vw;
  line-height: 1.8em;
}

.question {
  padding-bottom: 4vw;
}

.faq-list-item span {
  width: 9.6vw;
  height: 9.6vw;
  font-size: 8vw;
  margin-top: 2vw;
  line-height: 9vw;
}

/*フッター*/
#footer {
  padding-left: 4vw;
}

.footer_logo img{
  width: 92.26666666666667vw;
  margin-top: 16vw;
}

.copyright {
  font-size: 2.933333333333333vw;
  margin-top: 6.133333333333333vw;
  margin-bottom: 16vw;
}

}
