@charset "UTF-8"; /* 文字コードの指定 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');


body {
    font-family: 'Noto Sans JP',sans-serif;
    font-weight: 900;
    color: #000000;
}

header{
  background-image: url(../img/main_pc.jpg);
  height: 50.073vw;
  width: 100%;
  background-size: cover;
  
}

.container{
  
  padding: 0 1.6rem;
  
}

.contents-width{
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items:center;
}

.wrapper{
  max-width: 55.5rem;
  text-align:center; 
}

.wrapper span{
  display: inline-block;
}

.wrapper h1{
  font-size: 3.294vw;
}