@charset "UTF-8"; /* 文字コードの指定 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');


body{
    
    color: #454545;
    font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

a {
    color: #454545;
    text-decoration: none;
}


li {
    list-style: none;
}


.contents_width {
    width: 100%;
    max-width: 116rem;
    margin: 0 auto;
}

header{
    background-image: url(../img/main_pc.jpg);
    background-size: cover;
    height: 50.073vw;
    background-position: top left;
}

.container{
    padding: 0 7.9vw;
}

.contact .contents_width{
    display: flex;
    height:100%;
    justify-content:flex-end;
    align-items:center;
}

.wrapper{
    width:42.4567vw;
}

.wrapper h1{
    font-size: 0;
}

.wrapper span{
    font-weight: 900;
    display: inline-block;
    font-size: 3.294vw;
    line-height: 5.2vw;
    background: linear-gradient(transparent 75%, #f940bc 0%);
    text-shadow: 0.2vw 0 #fff;
}

.wrapper span+span {
    margin: 0.8rem 0 0;
}

header .wrapper img {
    display: block;
    margin: 4.53vw auto 3.074vw;
    max-width: 32.942vw;
    width: 100%;
}

.contact {
    background-color: #3fbcfa;
    padding-top: 6.002vw;
    padding-bottom: 6.002vw;
}

.contact .contents_width {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.contact .contents_width h3{
 font-size: 2.7818vw;
 color: #FFFFFF;
 line-height: calc(59 / 38);
 text-align: center;
 text-shadow: 1rem 0 1rem rgb(0 0 0 / 16%);
}

.contents_width a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bdfa3e;
    width: 20.79vw;
    height: 8.05vw;
    border-radius: 6vw;
    font-size: 2.78vw;
    font-weight: 900;
    box-shadow: 0 0.1vw 0.1vw #454545;
    overflow: hidden;
    position: relative;
}

.bg_stripe {
    background: repeating-linear-gradient(45deg, #fff, #fff 15px, #f5f5f5 0, #f5f5f5 30px);
}

.interest .contents_width {
    padding: 7.2rem 0 6rem;
    position: relative;
}

.interest h3 {
    font-size: 3.1rem;
    line-height: 3.1rem;
}

.interest ul {
    margin: 5rem 0 2.5rem;
    width: 66%;
    position: relative;
    z-index: 10;
}

.interest ul li {
    display: block;
    box-sizing: border-box;
    font-size: 3rem;
    line-height: calc(40 / 30);
    font-weight: 900;
    border: 0.7rem solid #707070;
    border-radius: 5rem;
    background-color: #fff;
    padding: 2.7rem;
    margin: 2.5rem 0 0;
    text-align: center;
}

.interest p {
    display: inline-block;
    font-size: 3.7rem;
    line-height: calc(3.7rem + 1.6rem * 2);
    position: relative;
    z-index: 10;
}


.interest p{
font-weight: 900;
    background: linear-gradient(transparent calc(100% - 20px), #f940bc calc(100% - 20px));
    text-shadow: 3px 0 #fff;
}

.interest img {
    position: absolute;
    bottom: 0;
    right: -16%;
    width: 60%;
}

.point {
    padding-top: 6rem;
    padding-bottom: 9rem;
    background: #3fbcfa;
}

.point h2, .about h2, .reason h2, .qa h2 {
    color: #3fbcfa;
    font-weight: 900;
    background: #fff;
    font-size: 4rem;
    line-height: 1;
    text-align: center;
    max-width: 94.8rem;
    margin: 0 auto;
    padding: 3.8rem;
    border-radius: 2rem;
}

.point ul {
    color: #fff;
    max-width: 85.6rem;
    margin: 0 auto;
}

.point ul li {
    margin: 6rem 0 0;
}

.point ul li span {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    font-size: 7rem;
    font-weight: 800;
    line-height: 1;
    color: #fff;
    letter-spacing: 0.1em;
    width: 13.6rem;
}

.point ul li span+div {
    width: calc(100% - 13.6rem);
    border-left: 0.7rem solid #fff;
    padding: 2.3rem 0 1rem 2.7rem;
}

.point ul li span+div h3 {
    font-size: 3rem;
    line-height: calc(36 / 30);
    font-weight: 900;
}

.point ul li span+div p {
    font-size: 1.8rem;
    margin: 1.6rem 0 0;
    line-height: calc(27 / 18);
    font-weight: 500;
}

.flex {
    display: flex;
    justify-content: space-between;
}

/*displaynone*/
.no-pc {
    display: none;
}

about {
    padding-top: 6rem;
    padding-bottom: 9rem;
}

.about h2 {
    background: #f940bc;
    color: #fff;
}

.about ul {
    margin: 6rem 0 0;
}

.about ul li {
    background: #fff;
    padding: 7.6rem 6.7rem 7.7rem 3.4rem;
    margin: 3rem 0 0;
    align-items: center;
}

.about ul figure {
    width: 40%;
    flex-shrink: 0;
}

.about ul dl {
    width: 60%;
    padding: 0 0 0 4.2rem;
}

.about ul dl dt, .about ul dl dd {
    font-size: 3rem;
    line-height: calc(36 / 30);
    display: flex;
    align-items: center;
    font-weight: 900;
}

about ul dl dd {
    color: #f940bc;
    font-size: 1.8rem;
    line-height: calc(27 / 18);
    font-weight: 500;
    margin: 8.4rem 0 0;
}gg