@charset "UTF-8"; /* 文字コードの指定 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');


body{
    
    color: #454545;
    font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

a {
    color: #454545;
    text-decoration: none;
}

.contents_width {
    width: 100%;
    max-width: 116rem;
    margin: 0 auto;
}

header{
    background-image: url(../img/main_pc.jpg);
    background-size: cover;
    height: 50.073vw;
    background-position: top left;
}

.container{
    padding: 0 7.9vw;
}

.contact .contents_width{
    display: flex;
    height:100%;
    justify-content:flex-end;
    align-items:center;
}

.wrapper{
    width:42.4567vw;
}

.wrapper h1{
    font-size: 0;
}

.wrapper span{
    font-weight: 900;
    display: inline-block;
    font-size: 3.294vw;
    line-height: 5.2vw;
    background: linear-gradient(transparent 75%, #f940bc 0%);
    text-shadow: 0.2vw 0 #fff;
}

.wrapper span+span {
    margin: 0.8rem 0 0;
}

header .wrapper img {
    display: block;
    margin: 4.53vw auto 3.074vw;
    max-width: 32.942vw;
    width: 100%;
}

.contact {
    background-color: #3fbcfa;
    padding-top: 6.002vw;
    padding-bottom: 6.002vw;
}

.contact .contents_width {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.contact .contents_width h3{
 font-size: 2.7818vw;
 color: #FFFFFF;
 line-height: calc(59 / 38);
 text-align: center;
 text-shadow: 1rem 0 1rem rgb(0 0 0 / 16%);
}

.contents_width a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bdfa3e;
    width: 20.79vw;
    height: 8.05vw;
    border-radius: 6vw;
    font-size: 2.78vw;
    font-weight: 900;
    box-shadow: 0 0.1vw 0.1vw #454545;
    overflow: hidden;
    position: relative;
}

.bg_stripe {
    background: repeating-linear-gradient(45deg, #fff, #fff 15px, #f5f5f5 0, #f5f5f5 30px);
}

.interest .contents_width {
    padding: 7.2rem 0 6rem;
    position: relative;
}

.interest h3 {
    font-size: 3.1rem;
    line-height: 3.1rem;
}